<p id="notice"><%= notice %></p>
<p><%= @topic.title %></p>
<p><%= @topic.description %></p>

<% if(current_member.is_secretary? || ( topic.member == current_member)) %>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
<% end %>
<%= link_to 'Back', topics_path %>
