<!DOCTYPE html>
<html>
  <head>
    <title>Sdk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/header' %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="\members">Home</a></li>
            <%if current_member %>
              <li><a href="\topics">Topics</a></li>
              <li><a href="\helplines">Helplines</a></li>
              <li><a href="\maintenance_receipts">Maintenance Receipts</a></li>
            <%end%>
          </ul>
          <ul class="nav nav-sidebar" id="fileItems"></ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main toggle">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
